@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/themes/dark.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

.table {
    padding-left: 15px;
    padding-top: 15px;
}

.header {
    font-size: 30px;
    font-weight: 200;
    font-style: italic;
}
